extends ../layout

block content
  div.content-text
    p Hello #{name},
    p Welcome to the <b>Rebeca 2026</b> official portal. We are thrilled to have you join our festival.
    p Your account for <a href="https://rebeca.in">rebeca.in</a> has been successfully created. You can now register for upcoming events and stay updated with the latest fest news.
    
    div(style="text-align: center;")
      button.btn(href="https://rebeca.in/userUpdate") Complete Your Profile
    
    p If you encounter any issues while navigating the site, kindly reply to this email or reach out to anyone in our web development team for assistance
    
    p Best Regards,
    p <b>Rebeca 2026 Organizing Team</b>
    p IIEST, Shibpur