extends ../layout

block content
  div.content-text
    p Dear #{name},
    p Your registration for <b>#{eventName}</b> has been confirmed.
    p Please keep this confirmation email for your records. Further details will be shared via our official channels.
    p We look forward to welcoming you to the event.
    button.btn(href="https://rebeca.in/events") View All Events

    p Best Regards,
    p <b>Rebeca 2026 Organizing Team</b>
    p IIEST, Shibpur